<link rel="stylesheet" type="text/css" href="~/css/addPage.css">

<h1>Add Event</h1>


<br />
<br />

<form method="post">
    <label for="eventName">Please Provide an Event Name</label>
    <input name="name" type="text" />

    <label for="eventName">Please Provide a Description of the Event</label>
    <input name="description" type="text" />

    <input type="submit" value="Add Event" />
</form>

<br />
<br />

@*<partial name="/Views/Shared/_LinkListPartial.cshtml" />*@