<h1>Delete Event</h1>

<form method="post">
    @foreach (var evt in ViewBag.events)
    {

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="@evt.Id" name="eventIds">
            <label class="form-check-label" for="eventIds">
                @evt.Name
            </label>
        </div>
    }
    <br/>
    <button type="submit" class="btn btn-danger">Delete Event</button>
</form>