<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

<p>
    <a asp-controller="Events" asp-action="Delete">Delete an Event</a>
</p>



@if (ViewBag.events.Count == 0)
{
    <p>No Events Yet!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Event ID</th>
                <th scope="col">Event Name</th>
                <th scope="col">Event Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Event meeting in ViewBag.events)
            {
            <tr>
                <td scope="row">@meeting.Id</td>

                
                <td scope="row">
                    <a href="/events/getsingleevent/?eventId=@meeting.Id">@meeting.Name</a>
                </td>

                <td>@meeting.Description</td>
            </tr>
            }
        </tbody>
    </table>
}