/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

    table.job-listing td:first-child {
        font-weight: bold;
    }

    table.job-listing td:last-child {
        width: 80%;
    }

label {
    margin-right: 15px;
}
.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

    table.job-listing td:first-child {
        font-weight: bold;
    }

    table.job-listing td:last-child {
        width: 80%;
    }

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}