<div class="container body-content">
    <h2>View jobs by:</h2>
    <ul>
        @foreach (var action in ViewBag.actions)
        {
            <li>
                <a href="/@action.Key">@action.Value</a>
            </li>

        }
    </ul>
</div>
