@model List<TechJobsPersistent.Models.JobSkill>

@if (Model.Count == 0)
{
    <h1>No jobs with the given skill!</h1>
}
else
{
    <h1>Jobs with the Skill: @Model[0].Skill.Name</h1>
    <p>Skill Description: @Model[0].Skill.Description</p>

    <ul>
        @foreach (var jobSkill in Model)
        {
            <li>@jobSkill.Job.Name</li>
        }
    </ul>

}
