<div class="container body-content">
    <h1>@ViewBag.title</h1>
    <h2 class="centered">View Jobs By Category</h2>
</div>

<table class="centeredTable">
    <tr>
        @foreach(var column in ViewBag.columns)
        {
            <th>@column.Value</th>
        }
    </tr>
    
    <tr>
        @{
            //TODO #2: Complete the View Jobs By Category Table
        }
        <td>
            <ul>
                <li>
                    <a asp-controller="List"
                       asp-action="Jobs"
                       asp-route-column="all"
                       asp-route-value="all">
                        All Jobs
                    </a>
                </li>
            </ul>

        </td> @* Feel free to remove or modify this element if necessary. *@

        https://localhost:5001/List/Jobs?column=employer&value=Active%20Giver

        @foreach (var category in ViewBag.tableChoices)
        {
            <td>
                <ul>
                    @foreach (var item in category.Value)
                    {
                        <li>
                            <a
                               asp-controller="List"
                               asp-action="Jobs"
                               asp-route-column="@category.Key"
                               asp-route-value="@item">
                                @item
                            </a>
                        </li>
                    }
                </ul>
            </td>
        }
    </tr>
</table>
