@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Hello @ViewBag.person @ViewBag.number</h1>



@*<ul>
    @foreach (string person in ViewBag.storedPeople)
    {

        <li>Hello @person, You are in the Viewbag</li>
    }
</ul>*@