<link rel="stylesheet" type="text/css" href="~/css/image.css">

<h1>Hello From Image Page</h1>

<img src="~/images/groot-action-figures.jpg" alt="Picture of Groot playing with action figures"/>

#people