<h1>Add Event</h1>


<br />
<br />

<form method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Please Provide an Event Name</label>
        <input name="name" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Please Provide a Description of the Event</label>
        <input name="description" type="text" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Add Event</button>
</form>